{% extends 'events/base.html' %}
{% block content %}
<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="ex2-tab-1"
        data-mdb-toggle="tab"
        href="#ex2-tabs-1"
        role="tab"
        aria-controls="ex2-tabs-1"
        aria-selected="true"
        >Upcomming Events</a
      >
    </li>      
</ul>
{% if searchedEvents %}
<center>
    <h3>Using your query "{{query}}", we found {{searchedEvents.count}} search results.</h3>
</center>
{% else %}
<center><h3>We found Nothing... <br>Try another searching query</h3></center>
{% endif %}

{% if searchedEvents %}

<div class="row">
    {% for event in searchedEvents %}
    
    <div class="container-fluid m-2">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 col">
                
                <div class="card-group">
                    <div class="card">
                        <img src="{{event.cover_img.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{event.title}}</h5>
                            <p>
                                {% if event.description|length > 80 %}
                                {{event.description|slice:80}} ...
                                {% else %}
                                {{event.description}}
                                {% endif %}
                            </p>
                            <small>Event Date</small> <strong>{{event.date}}</strong>
                            <br>
                            <a href="{% url 'event-details' event.id %}" class="btn btn-outline-success btn-lg btn-block">Event Details</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">posted at {{event.created_at}}</small>
                            <strong>by {{event.owner}}</strong>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    
</div>


{% endif %}


{% endblock %}