{% extends 'events/base.html' %}
{% block content %}

<!-- Tabs navs -->
<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="ex2-tab-1"
        data-mdb-toggle="tab"
        href="#ex2-tabs-1"
        role="tab"
        aria-controls="ex2-tabs-1"
        aria-selected="true"
        >Owened Events</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="ex2-tab-2"
        data-mdb-toggle="tab"
        href="#ex2-tabs-2"
        role="tab"
        aria-controls="ex2-tabs-2"
        aria-selected="false"
        >Events Subscribed To</a
      >
    </li>
  </ul>
  <!-- Tabs navs -->
  
  <!-- Tabs content -->
  <div class="tab-content" id="ex2-content">
    <div
      class="tab-pane fade show active"
      id="ex2-tabs-1"
      role="tabpanel"
      aria-labelledby="ex2-tab-1"
    >
    {% if userOwnedEvents %}
    <div class="row">
        {% for event in userOwnedEvents %}
        
        <div class="container-fluid m-2">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 col">
    
                    <div class="card-group">
                        <div class="card">
                            <img src="{{event.cover_img.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{event.title}}</h5>
                                <p>
                                    {% if event.description|length > 80 %}
                                        {{event.description|slice:80}} ...
                                    {% else %}
                                        {{event.description}}
                                    {% endif %}
                                </p>
                                <small>Event Date</small> <strong>{{event.date}}</strong>
                                <br>
                                <strong>{{event.get_participants_count}}</strong> <small>Participants</small>
                                <a href="{% url 'event-details' event.id %}" class="btn btn-outline-success btn-lg btn-block">Event Details</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">posted at {{event.created_at}}</small>
                                <strong>by {{event.owner}}</strong>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    </div>
    <div
      class="tab-pane fade"
      id="ex2-tabs-2"
      role="tabpanel"
      aria-labelledby="ex2-tab-2"
    >
    {% if SubedEvents %}
    <div class="row">
        {% for instance in SubedEvents %}
        
        <div class="container-fluid m-2">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 col">
    
                    <div class="card-group">
                        <div class="card">
                            <img src="{{instance.event.cover_img.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{instance.event.title}}</h5>
                                <p>
                                    {% if instance.event.description|length > 80 %}
                                        {{instance.event.description|slice:80}} ...
                                    {% else %}
                                        {{instance.event.description}}
                                    {% endif %}
                                </p>
                                <small>Event Date</small> <strong>{{instance.event.date}}</strong>
                                <br>
                                <strong>{{instance.event.get_participants_count}}</strong> <small>Participants</small>
                                <a href="{% url 'event-details' instance.event.id %}" class="btn btn-outline-success btn-lg btn-block">Event Details</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">posted at {{instance.event.created_at}}</small>
                                <strong>by {{instance.event.owner}}</strong>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    </div>
    
  </div>
  <!-- Tabs content -->

{% endblock %}