{% extends "account/base.html" %}
{% crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>
    <div class="row">
        <div class="col-6">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success m-1 btn-block btn-lg" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
{% endblock %}
